.DS_Store           # Mac OS-specific storage files
.vscode/            # VS Code
.Python             # Python
.mypy_cache/        # MyPy cache
__pycache__/        # Python cache
env/                # Environments
.env
.ipynb_checkpoints  # Jupyter Notebook checkpoints
*.err               # SLURM output files
*.log
*.out              
*.nc                # netCDF files
*.nc4               
